.both{
    
    background-color: gainsboro;
    width:100%;
    height: 40rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
      top: -.4rem;  
     
     
    /* opacity: 0; */
   
 }
.grand{
    display: flex; 
    height: 20rem;
    opacity: 1;
   
    background-color: #ffffff; 
    margin-left: 2.5rem;
}
.colour{
      background-color: red;  
    height: 20rem;
    width: 100vw;
    opacity: 1;
    
   
}
.sub-3{
    margin-left: 2rem;
    height: 15rem;
    margin-top: 50px;
   
}
.sub-2{
    margin-left: 2rem;
    height: 17rem;
    margin-top: 50px;
}
.payet{
    margin-left: 18rem;
    height: 17rem;
    margin-top: 50px;

} 
.both{
     height: 0; 
 overflow: hidden;  
  transition: .8s;
  opacity: 0;
  width: 100%;
  /* margin-left: 5rem; */

}
.both.active {
 height: 40rem;
 width: 100%;
 opacity: 1;
 transform: scaleX(1.4);
  margin-bottom: -2rem; 
 
 
  position: relative;  
}  